.idea/
.DS_Store
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__

ThunderKittens/src/common/pyutils/__pycache__/
ThunderKittens/*.i
ThunderKittens/*.ii
ThunderKittens/*.gpu
ThunderKittens/*.ptx
ThunderKittens/*.cubin
ThunderKittens/*.fatbin
ThunderKittens/examples/ttt_linear_prefill/build/
ThunderKittens/examples/ttt_linear_prefill/dist/
ThunderKittens/examples/ttt_linear_prefill/tk_ttt_linear_prefill.egg-info/
ThunderKittens/examples/ttt_mlp_prefill/build/
ThunderKittens/examples/ttt_mlp_prefill/dist/
ThunderKittens/examples/ttt_mlp_prefill/tk_ttt_mlp_prefill.egg-info/
